.total-data
  ul.dustStatusCountList
    li
      p#goodDust 좋음 : 
        span#goodCount 
    li
      p#normalDust 보통 : 
        span#normalCount 
    li
      p#badDust 나쁨 : 
        span#badCount 
    li
      p#veryBadDust 매우나쁨 : 
        span#veryBadCount